@{
    ViewBag.Title = "Danh Sách Thể Loại";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="~/plugin/bootbox.min.js"></script>
    <script src="~/plugin/mustache.min.js"></script>
    <script src="~/plugin/pagination.min.js"></script>
    <script src="~/Assets/Admin/js/student/student.js"></script>
}

<!-- Page Header -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thể Loại</h1>
    <div>
        <button id="btnReset" class="btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-check fa-sync-alt text-white-50"></i> Reset
        </button>
        <button id="btnCheckAll" class="btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-check fa-sm text-white-50"></i> Chọn tất cả
        </button>
        <button id="btnDelete" class="d-none">
            <i class="fas fa-trash fa-sm text-white-50"></i> Xóa
        </button>
        <button id="btnAdd" class="btn btn-sm btn-success shadow-sm">
            <i class="fas fa-plus fa-sm text-white-50"></i> Thêm Mới
        </button>
    </div>
</div>
<!-- End of Page Header -->

<!-- Content -->
<div class="card shadow mb-4">

    <!-- Content Header -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Danh Sách</h6>
        <div class="dropdown no-arrow">
            <a title="Lọc" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Trạng thái</div>
                <a class="btn-filter-status dropdown-item" href="#" data-id="2">Tất cả</a>
                <a class="btn-filter-status dropdown-item" href="#" data-id="1">Kích hoạt</a>
                <a class="btn-filter-status dropdown-item" href="#" data-id="0">Khóa</a>
            </div>
        </div>
    </div>
    <!-- End of Content Header -->
    <!-- Content Body -->
    <div class="card-body">
        <div class="table-responsive">
            <div class="input-group col-7 p-0 mb-3">
                <input id="txtSearch" type="text" class="form-control" placeholder="Từ khóa">

                <div class="input-group-append">
                    <button id="btnSearch" class="btn btn-primary"><i class="fas fa-search"></i> Tìm kiếm</button>
                </div>
            </div>
            <table class="table table-bordered" id="tblData" width="100%" cellspacing="0"></table>
            <div id="pagination" class="pagination"></div>
        </div>
    </div>
    <!-- End of Content Body -->

    <script id="tblHeader" type="x-tmpl-mustache">
        <thead>
            <tr align="center">
                <th>Id</th>
                <th>Họ Tên</th>
                <th>Ảnh Đại Diện</th>
                <th>Thông Tin</th>
                <th>Trạng Thái</th>
                <th>Công Cụ</th>
            </tr>
        </thead>
    </script>

    <script id="template" type="x-tmpl-mustache">
        <tr>
            <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="checkbox-item custom-control-input" id="ckb{{Id}}" value="{{Id}}">
                    <label class="custom-control-label" for="ckb{{Id}}">{{Id}}</label>
                </div>
            </td>
            <td>{{FullName}}</td>
            <td align="center">
                <img src="{{Avatar}}" width="60" height="60" title="{{FullName}}" class="img-profile rounded-circle"/>
            </td>
            <td>
                MSSV: {{Username}}<br/>
                Giới tính: {{Gender}}<br/>
                Ngày sinh: {{Birthday}}<br/>
                Địa chỉ: {{Address}}<br/>
                Số điện thoại: {{Phone}}<br/>
                Email: {{Email}}<br/>
            </td>
            <td align="center">
                <div class="checkbox-status custom-control custom-switch" data-id="{{Id}}">
                    <input type="checkbox" class="custom-control-input" id="ckbStatus{{Id}}" {{Status}}>
                    <label class="custom-control-label" for="ckbStatus{{Id}}">{{StatusTitle}}</label>
                </div>
            </td>
            <td align="center">
                <button class="button-update btn btn-primary btn-circle btn-sm" title="Cập nhật" data-id="{{Id}}">
                    <i class="fas fa-edit"></i>
                </button>
                <button class="button-delete btn btn-danger btn-circle btn-sm" title="Xóa" data-id="{{Id}}">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    </script>
</div>
<!-- End of Content -->

<!-- Modal -->
<div class="modal" id="modalUpdate" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="modalUpdateTitle">Cập Nhật Thông Tin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- End of Modal Header -->

            <div class="modal-body">
                <!-- Form -->
                <form id="frmUpdate">
                    <div class="form-group">
                        <input type="number" name="nbrId" id="nbrId" hidden class="form-control" value="0" />
                    </div>
                    <div class="form-group">
                        <label for="txtUsername">Mã Số Sinh Viên</label>
                        <input type="text" name="txtUsername" id="txtUsername" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="txtPassword">Mật Khẩu</label>
                        <input type="password" name="txtPassword" id="txtPassword" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="txtAvatar">Ảnh Đại Diện</label>
                        <input type="text" name="txtAvatar" id="txtAvatar" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="txtFullName">Họ tên</label>
                        <input type="text" name="txtFullName" id="txtFullName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="txtGender">Giới Tính</label>
                        <input type="text" name="txtGender" id="txtGender" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="dtBirthday">Ngày Sinh</label>
                        <input type="date" name="dtBirthday" id="dtBirthday" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="txtAddress">Địa Chỉ</label>
                        <input type="text" name="txtAddress" id="txtAddress" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="txtPhone">Số Điện Thoại</label>
                        <input type="text" name="txtPhone" id="txtPhone" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Email</label>
                        <input type="text" name="txtEmail" id="txtEmail" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="txtClassId">Lớp</label>
                        <input type="text" name="txtClass" id="txtClassId" class="form-control" />
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch" id="ckbChangeStatus">
                            <input type="checkbox" class="custom-control-input" id="ckbStatus" checked />
                            <label class="custom-control-label" for="ckbStatus">Kích Hoạt</label>
                        </div>
                    </div>
                </form>
                <!-- End of Form -->
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Hủy</button>
                <button type="button" class="btn btn-primary" id="btnSaveData"><i class="fa fa-check"></i> Hoàn thành</button>
            </div>
            <!-- End of Modal Footer -->

        </div>
    </div>
</div>
<!-- End of Modal -->
